
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.main-container {
    text-align: center;
    margin: 95px auto;
}

.extra-container {
    width:100%;
    max-width:800px;
    margin: auto;
}

.memory-game-title {
    line-height: 1.0;
    font-family:'Exo 2';
    color:#7C4F91;
}

#image-word {
    font-size: 120px;
}

#match-word {
    font-size: 180px;
}

.best-score, #start, #reset{
    font-family: 'Josefin Sans';
}

.best-score {
    margin-top:30px;
    font-size: 30px;
    color:#B367B6;
}

.start-game-container {
    margin:30px 30px;
}

.game-options {
    display: flex;
    margin-left:110px;
    margin-top:47px;
}

#start {
    padding:15px 100px;
    background-color:#5CA7EA;
    border:1px solid #5CA7EA;
    color:rgb(78, 100, 190);
}

#reset {
    padding:15px 80px;
    background-color:#d69898;
    border:1px solid #d69898;
    color:#F7E1E1;
    margin-top:30px;
}

#start, #reset {
    text-transform: uppercase;
    border-radius: 5px;
    cursor:pointer;
}

.memory-game {
    border:1px solid rgb(201, 193, 193);
    border-radius: 10px;
    width: 1300px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top:65px;
    margin-left: 115px;
    perspective: 1000px;
    background-color: rgb(196, 190, 186);
}

.memory-card, .game-logo {
    border: 2px solid saddlebrown;
    width: calc(20% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(218, 209, 209, 0.768);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front {
    border: 3px solid seagreen;

}

.back {
    border: 5px solid rgb(39, 109, 239);
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.back img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.front {
    padding:45px 45px;
    border: 1px solid darkgray;
    border-radius:2px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.IM-class, .card-class {
    text-align: center;
}

.card-class {
    font-family: 'Josefin Sans';
    letter-spacing: 6px;
    color:rgb(44, 49, 94);
    margin-top:5px;
    font-size:20px;
}

#capital-i-id, #capital-m-id {
    font-family:'Exo 2';
    color:rgb(44, 49, 94);
    letter-spacing: 1.5px;
}

#capital-i-id {
    font-size: 30px;
}

#capital-m-id {
    font-size: 35px;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }

.game-logo {
    padding-top:60px;
    border: none;
    box-shadow: 1px 1px 1px rgba(169, 157, 157, 0.768);
}

body {
    background-color: #D8E6F3;
}

.main{
    padding-top:150px;
    padding-bottom: 20px;
}

.outer-container {
    border: 3px solid rgb(56, 71, 85);
    border-radius: 8px;
    margin-top:5px;
    margin-right:180px;
    margin-left:180px;
}

.memory-container {
    border: 4px solid rgb(207, 176, 19);
    padding-bottom: 60px;
    background-color:#d7e6e9
}

.outer-container, .memory-container{
    margin: 5px auto;
    width:100%;
    max-width:1200px;
}

.memory-container {
    margin-top:-1px;
    margin-bottom:-1px;
}

.memory-game{
    margin: 5px auto;
    width:100%;
    max-width: 1100px;
    margin-top:30px;
    height: 520px;
    margin-bottom: -25px;
}

#countdown {
    display: inline-flex;
    align-items: center;
    justify-content:center;
    font-size:50px;
    height: 70px;
    width: 220px;
    margin-top:-12px;
    margin-left:-5px;
    color:rgb(161, 102, 102);
    font-weight:300;
}

